@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  /* height: 100px; */
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 650;
  font-size: 45px;
  text-align: center;
  line-height: 60px;
  /* padding-right: 10rem; */
  /* padding-left: 5rem; */
  max-width: 610px;
}

p {
  text-align: center;
  justify-content: center;
  font-size: 13px;
  width: 38%;
  position: relative;
  left: 5%;
  /* padding-left: 12rem; */
  /* max-width: 37%; */
}

.main-container {
  /* border: 2px solid red; */
  background-color: white;
  color: black;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 5rem;
  position: relative;
  left: 29%;
}

.explore span {
  /* border: 1px; */
  border-radius: 0.8rem;
  background-color: black;
  color: white;
  max-width: max-content;
  padding: 10px 30px;
  margin-top: 1.5rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 35%;
  margin-top: 1rem;
}

.grid-container2 {
  margin: auto;
  /* height: 300px; */
  /* padding: 5rem 5rem; */
  /* border: 2px solid green; */
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  /* max-width: 1000px; */
  width: 61%;
  left: 20px;
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-gap: 1rem; */
  /* grid-auto-rows: 13rem; */
  /* position: relative; */
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  /* height: 300px; */
}

.grid img {
  width: 100%;
  height: 100%;
  display: block;
}

/* @media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2,1fr);
    }
    
    h1 {
        font-size: 25px;
        font-weight: 650;
        line-height: 37px;
        align-items: center;
        justify-content: center;
        padding-bottom: 0.5rem;
        width: 69%;
        position: relative;
        left: 6%;
    }

    .main-container {
        position: relative;
    left: 13%;
    width: 100%;
    }

    p {
    text-align: center;
    justify-content: center;
    position: inherit;
    left: 10%;
    font-size: 13px;
    width: 60%;
 }

 .explore span {
     align-items: center;
    justify-content: center;
    position: absolute;
    left: 32%;
 }

 .grid-container2 {
    width: 60%;
 } */

/* @media screen and (max-width: 768px){
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  h1 {
    font-size: 31px;
    font-weight: 650;
    line-height: 55px;
    padding-bottom: 0.5rem;
    align-items: center;
    justify-content: center;
  }

  .main-container {
    position: relative;
    width: 100%;
    left: 17%;
  }

  p {
    text-align: center;
    justify-content: center;
    font-size: 20px;
    width: 70%;
    margin-bottom: 1rem;
  }

  .explore span {
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 28%;
  }

  .grid-container2 {
    margin-top: 8rem;
  }
}

 @media screen and (min-width: 1024px){
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
} */ */
